* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    color: white;
}

h1{
    padding-top: 2rem;
    margin-left: 10rem;
    text-align: center;
    font-size: 3rem;
}

.outputNum {
    margin: 0 0 0 0;
    background-color: red;
}

p {
    background-color: #DBD8E3;
    display: flex;
    flex-wrap: wrap;
    direction: rtl;
    color: rgba(42, 36, 56, 0.84);
    font-size: 2.7rem;
    font-weight: 800;
    width: 25rem;
    height: 8rem;
    border-radius: 20px;
    margin-bottom: 1.5rem;
}

body {
    background-color: #2A2438;
}

.parent-container {
    background: #5C5470;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 30rem;
    height: 43rem;
    border-radius: 20px;
    margin-top: 2rem;
    margin-left: 40%;
}

.child-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #DBD8E3;
    width: 25rem;
    height: 30rem;
    border-radius: 20px;
}

.btnDesign{
    background-color: #352F44;
    font-size: 1.5rem;
    font-weight: 700;
    width: 5.4rem;
    height: 5.4rem;
    border-radius: 50%;
    row-gap: 5rem;
    border: 4px solid;
}

.inputDesign {
    background-color: #DBD8E3;
    color: rgba(42, 36, 56, 0.84);
    font-size: 4rem;
    font-weight: 600;
    width: 24rem;
    height: 3.3rem;
    margin-bottom: 1.5rem;
    border: 1px solid transparent;
    outline: none;
}

.btnDesign:hover {
    background-color: rgba(92, 84, 112, 0.86);
    border: 4px solid #352F44;;
}

.btnOperation {
    background-color: rgba(211, 107, 0, 0.74);
    font-size: 1.5rem;
    font-weight: 700;
    width: 5.4rem;
    height: 5.4rem;
    border-radius: 50%;
    border: 4px solid;
}

.btnOperation:hover {
    background-color: rgba(211, 107, 0, 0.5);
    border: 4px solid rgba(211, 107, 0, 0.9);
}

.btnClear {
    background-color: rgba(66, 3, 44, 0.82);
    font-size: 1.5rem;
    font-weight: 700;
    width: 5.4rem;
    height: 5.4rem;
    border-radius: 50%;
    border: 4px solid;
}

.btnEqualSign {
    background-color: rgba(84, 180, 53, 0.85);
    font-size: 1.5rem;
    font-weight: 700;
    width: 5.4rem;
    height: 5.4rem;
    border-radius: 50%;
    border: 4px solid;
}

.btnClear:hover {
    background-color: rgba(66, 3, 44, 0.5);
    border: 4px solid rgba(66, 3, 44, 0.82);
}

.btnEqualSign:hover {
    background-color: rgba(84, 180, 53, 0.7);
    border: 4px solid rgba(84, 180, 53);
}

.btnDel {
    background-color: rgba(220, 0, 0, 0.7);
    font-size: 1.5rem;
    font-weight: 700;
    width: 5.4rem;
    height: 5.4rem;
    border-radius: 50%;
    border: 4px solid; 
}

.btnDel:hover {
    background-color: rgba(220, 0, 0, 0.31);
    border: 4px solid rgb(220, 0, 0);
}

button:hover {
    scale: 1.06;
    font-size: 1.92rem;
    cursor: pointer;
}

input {
    text-align: right;
    caret-color: transparent;
}